@import "base/normalize";
@import "base/typography";
@import "base/grid";

html,
body {
  background-color: #27363f;
  height: 100%;
}

body {
  position: relative;
}

.chart-wrap {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.chart {
  position: relative;
  max-width: 600px;
  padding-top: 10px;
  margin: auto;
  height: 70%;
  display: block;
  h1 {
    max-width: 500px;
    margin: 20px auto 20px auto;
  }
}

.tweet-count {
  color: #99aab4;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.0em;
}

.stat {
  text-align: center;
  font-size: 1.3em;
  margin-top: 15px;
  color: #EC0972;
  span {
    color: white;
    &.divider {
      color: #00ff00;
    }
  }
}

.btn-wrap {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  margin-top: 20px;
}

.btn-toggle {
  position: relative;
  width: 114px;
  height: 145px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  color: #186075;
  margin-right: 73px;
  line-height: 1.1em;
  &:last-child {
    margin-right: 0;
  }
  span {
    line-height: 12px;
  }
  &.time {}
  &.length {}
  &.freq {}
  .grphx {
    width: 100px;
    height: 100px;
    background-color: rgb(54, 73, 84);
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.chart-inner {
  position: relative;
  height: 538px;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

// Data binding stuff
[t-binding] {
  visibility: hidden !important;
}

footer {
  height: 50px;
  margin-bottom: 100px;
  display: block;
}

footer a {
  float: right;
  display: inline-block;
}

.input-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

.user-name {
  width: 455px;
  height: 50px;
  background-color: #334956;
  border: none;
  outline: none;
  padding-left: 20px;
  color: white;
}

.user-submit {
  position: absolute;
  top: 7px;
  right: 30px;
  background-color: #ef0173;
  text-align: center;
  color: white;
  padding: 10px 15px 10px 15px;
  user-select: none;
  cursor: pointer;
}

#character-counts,
#time-of-day,
#most-used,
#most-used-markers,
#background,
#top-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 538px;
  z-index: 0;
  &.merged {
    position: absolute;
  }
}

#character-counts {
  //transform: rotate(260deg);
  transition: transform 0.8s ease-in;
  &.trigger {
    transform: rotate(0deg);
  }
}

#background {
  background-color: rgba(39, 54, 63, 1);
}

#character-counts {
  z-index: 2;
}

#most-used-markers {
  z-index: 100;
  display: none;
  background-color: transparent;
  &.merged {
    display: inline-block;
  }
}

#time-of-day {
  z-index: 1;
}

.option {
  color: #0080b7;
  text-transform: uppercase;
  font-size: 1.1em;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    z-index: 0;
    background-color: #5c7685;
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #feffff;
    display: none;
    z-index: 1;
  }
  &.selected {
    &:after {
      display: block;
    }
  }
  .label {
    display: inline-block;
    color: #5e7482;
    padding-right: 30px;
  }
}

.divider {
  display: inline-block;
  margin: 0 10px 0 0;
}

.info {
  max-width: 500px;
  margin: 0 auto;
  visibility: hidden;
  h2 {
    font-size: 1.7em;
  }
  &.active {
    visibility: visible;
  }
}

.about {
  color: #99aab4;
  line-height: 1.7em;
  margin-bottom: 50px;
  max-width: 500px;
  font-size: 0.9em;
}

@media (max-width: 568px) {
  #character-counts,
  #time-of-day,
  #most-used,
  #most-used-markers,
  #background,
  #top-layer {
    width: 100%;
    height: auto;
  }
  .chart {
    top: auto;
    transform: none;
    max-width: none;
    padding: 0 20px 0 20px;
  }
  .user-submit {
    right: 2%;
  }
  .user-name {
    width: 94%;
  }
  .chart-inner {
    height: 0;
    padding-bottom: 100%;
  }
}
