@import "base/normalize";
@import "base/typography";
@import "base/grid";

.submit-btn {}

.results {
  margin-top: 50px;
  p {
    margin: 5px 0 5px 0;
  }
  display: none;
}

.pre-loader {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main {
  position: relative;
}

.inspiration {
  position: absolute;
  top: 0;
  left: 0;
}

#artboard {
  position: relative;
  display: block;
  width: 500px;
  height: 650px;
  background-color: rgba(39, 54, 63, 1);
}

.chart {
  position: relative;
}

#character-counts,
#time-of-day,
#most-used,
#most-used-markers,
#background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 650px;
  z-index: 0;
  &.merged {
    position: absolute;
  }
}

#background {
  background-color: rgba(39, 54, 63, 1);
}

#character-counts {
  z-index: 2;
}

#most-used-markers {
  z-index: 100;
  display: none;
  background-color: transparent;
  &.merged {
    display: inline-block;
  }
}

#time-of-day {
  z-index: 1;
}

body {
  .dg.ac {
    z-index: 101;
    position: relative;
  }
  /*   .dg.a {
      float: none;
    } */
}

@media (max-width: 500px) {
  body {
    .dg.ac {
      display: none;
    }
  }
  #character-counts,
  #time-of-day,
  #most-used,
  #most-used-markers,
  #background {
    width: 100%;
    height: auto;
  }
}
