@import "base/normalize";
@import "base/typography";
@import "base/grid";

html,
body {
  background-color: #27363f;
  height: 100%;
}

body {
  position: relative;
}

.chart-wrap {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.chart {
  position: relative;
  max-width: 600px;
  padding-top: 10px;
  margin: auto;
  height: 70%;
  display: block;
  h1 {
    max-width: 500px;
    margin: 20px auto 20px auto;
  }
}

.tweet-count {
  color: #99aab4;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.0em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.stat-wrap {
  width: 100%;
  min-height: 30px;
  .intro {
    text-align: center;
    font-size: 1.1em;
    color: rgba(91, 108, 117, 1);
  }
}

.stat {
  text-align: center;
  font-size: 1.3em;
  color: #EC0972;
  opacity: 0;
  display: none;
  //transition: opacity 1s ease-out;
  &.active {
    opacity: 1;
    display: block;
  }
  span {
    color: white;
    &.divider {
      color: rgba(24, 93, 123, 1);
    }
  }
}

.btn-wrap {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 60px;
}

.btn-toggle {
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 114px;
  max-width: 114px;
  height: 145px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  color: #186075;
  margin-right: 14%;
  line-height: 1.1em;
  transition: color 0.15s ease-out;
  &:hover,
  &.active {
    color: white;
    .grphx {
      background-color: rgba(30, 43, 51, 1);
      .time {
        background-position: 0 -72px;
      }
      .length {
        background-position: 0 -36px;
      }
      .freq {
        background-position: 0 -72px;
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
  span {
    line-height: 12px;
  }
  .grphx {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid rgba(54, 71, 81, 1);
    transition: background-color 0.15s ease-out;
    .icon {
      width: 72px;
      height: 72px;
      display: inline-block;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 100%;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    .time {
      background-image: url("/img/time-svg.svg");
    }
    .length {
      width: 81px;
      height: 36px;
      background-image: url("/img/tweet-length-svg.svg");
    }
    .freq {
      background-image: url("/img/time-svg.svg");
    }
  }
}

.chart-inner {
  position: relative;
  height: 538px;
  visibility: hidden;
  margin-top: 15px;
  &.active {
    visibility: visible;
  }
}

footer {
  height: 50px;
  margin-bottom: 100px;
  display: block;
}

footer a {
  float: right;
  display: inline-block;
}

.input-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

.user-name {
  width: 455px;
  height: 50px;
  background-color: #334956;
  border: none;
  outline: none;
  padding-left: 20px;
  color: white;
}

.user-submit {
  position: absolute;
  top: 7px;
  right: 30px;
  background-color: #ef0173;
  text-align: center;
  color: white;
  padding: 10px 15px 10px 15px;
  user-select: none;
  cursor: pointer;
}

#character-counts,
#time-of-day,
#most-used,
#most-used-markers,
#background,
#top-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 538px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &.merged {
    position: absolute;
  }
  &.active {
    opacity: 1;
  }
}

#top-layer {
  z-index: 10;
}

#background {
  background-color: rgba(39, 54, 63, 1);
}

#character-counts {
  z-index: 2;
}

#most-used-markers {
  z-index: 100;
  display: inline-block;
  background-color: transparent;
}

#time-of-day {
  z-index: 1;
}

.option {
  color: #0080b7;
  text-transform: uppercase;
  font-size: 1.1em;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    z-index: 0;
    background-color: #5c7685;
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #feffff;
    display: none;
    z-index: 1;
  }
  &.selected {
    &:after {
      display: block;
    }
  }
  .label {
    display: inline-block;
    color: #5e7482;
    padding-right: 30px;
  }
}

.divider {
  display: inline-block;
  margin: 0 10px 0 0;
}

.info {
  max-width: 500px;
  margin: 0 auto;
  visibility: hidden;
  h2 {
    font-size: 1.7em;
  }
  &.active {
    visibility: visible;
  }
}

.about {
  color: #99aab4;
  line-height: 1.7em;
  margin-bottom: 50px;
  max-width: 500px;
  font-size: 15px;
}

@media (max-width: 568px) {
  .btn-wrap {
    margin-bottom: 10px;
  }
  .btn-toggle {
    width: 25%;
    font-size: 1.1em;
    margin-right: 10%;
    .grphx {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      .icon {
        width: 60px;
        height: 60px;
      }
      .length {
        width: 68px;
        height: 30px;
      }
    }
    &:hover,
    &.active {
      .grphx {
        .time {
          background-position: 0 -60px;
        }
        .length {
          width: 68px;
          height: 30px;
          background-position: 0 -30px;
        }
        .freq {
          background-position: 0 -60px;
        }
      }
    }
  }
  .stat {
    font-size: 0.7em;
  }
  #character-counts,
  #time-of-day,
  #most-used,
  #most-used-markers,
  #background,
  #top-layer {
    width: 100%;
    height: auto;
  }
  .chart {
    top: auto;
    transform: none;
    max-width: none;
    padding: 0 20px 0 20px;
  }
  .user-submit {
    right: 2%;
  }
  .user-name {
    width: 94%;
  }
  .chart-inner {
    height: 0;
    padding-bottom: 100%;
  }
}
